[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
spotipy = "*"
python-dotenv = "*"
pandas = "*"
numpy = "*"
joblib = "*"
sklearn = "*"
tensorflow = "*"
fastapi = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
